* {
  margin: 0;
  list-style: none;
  padding: 0;
  font-family: "Mukta", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  list-style: none;
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 6rem;
  background-color: black;
  z-index: 10000;
  position: fixed;
}
.navbar .top {
  background-color: #E3E8ED;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .top .left {
  display: flex;
  gap: 30px;
  padding: 30px;
  padding-left: 50px;
}
.navbar .top .left p {
  font-size: 13px;
  cursor: pointer;
}
.navbar .top .left p:hover {
  color: #2C86D5;
}
.navbar .top .left .tel {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 12px;
}
.navbar .top .left .tel:hover {
  color: #2C86D5;
}
.navbar .top .left .tel p {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.navbar .top .left .tel .fa-phone {
  color: black;
}
.navbar .top .left .tel i {
  font-size: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.navbar .top .left .mail {
  display: flex;
  padding: 12px;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.navbar .top .left .mail:hover {
  color: #2C86D5;
}
.navbar .top .left .mail p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .top .left .mail i {
  justify-content: center;
  font-size: 20px;
}
.navbar .top .right {
  display: flex;
  gap: 30px;
  padding: 30px;
  padding-right: 50px;
}
.navbar .top .right a {
  color: black;
}
.navbar .top .right a:hover {
  color: #2C86D5;
}
.navbar .top .right p {
  font-size: 16px;
  cursor: pointer;
}
.navbar .top .right p:hover {
  color: #2C86D5;
}
.navbar .bottom {
  width: 100%;
  background-color: #CED8E0;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navbar .bottom .right {
  margin-right: 50px;
}
.navbar .bottom .right ul {
  list-style: none;
  display: flex;
  gap: 50px;
}
.navbar .bottom .right ul li {
  cursor: pointer;
  padding: 4px;
}
.navbar .bottom .right ul li:hover {
  border-bottom: 1.2px solid #2C86D5;
}
.navbar .bottom .left {
  margin-left: 50px;
}
.navbar .bottom .left .logo {
  height: 8px;
  width: 90px;
  padding: 11px;
  background-color: #E3E8ED;
}

.container {
  width: 100%;
  height: 70vh;
}
.container .img {
  position: relative;
  text-align: center;
}
.container .img .text {
  top: 40%;
  font-size: 4rem;
  font-weight: bolder;
  display: flex;
}
.container .img .text .top {
  left: 15%;
  position: absolute;
  top: 30%;
}
.container .img .text .bottom {
  top: 48%;
  left: 15%;
  position: absolute;
}
.container img {
  width: 100%;
  height: 70vh;
}

.container-2 {
  height: 34vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-2 .text {
  margin: 20px;
  padding-left: 15%;
  padding-right: 15%;
}

.container-3 {
  height: 60vh;
  width: 100%;
  display: flex;
}
.container-3 p {
  padding: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.container-3 .img {
  width: 50vw;
  background-color: rgb(221, 221, 221);
}
.container-3 .img img {
  height: 100%;
  width: 100%;
}
.container-3 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: #F3F5F7;
}
.container-3 .text .nav {
  margin-top: 30px;
  font-size: 25px;
  font-weight: bolder;
}/*# sourceMappingURL=style.css.map */